<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastre-se no EcoThink</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- conteudo do cadastro -->
            <div class="col-sm-8 mx-auto cadastro p-5 mt-5">
                <!-- titulo -->
                <div class="row">
                    <div class="col-12 titulo-cadastro">
                        <div class="text-group text-center text-success">
                            <h3 class="display-4 ">Sign Up</h3>
                            <p class="lead">Register on our website!</p>
                        </div>
                    </div>
                </div>
                <!-- form -->
                <div class="row">
                    <div class="col-12 form-cadastro">
                        <div class="form-group">
                            <label>Email Adress</label>
                            <input type="text" class="form-control border-success"  placeholder="Example input from Email">
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control border-success"  placeholder="Another input from Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control border-success"  placeholder="Another input from Password">
                            <a href="password.html" class="text-success">Forgot My Password</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 botao-cadastro ">
                        <button class="btn btn-block mx-auto shadow p-3 mt-2 mb-2 border-rounded text-info">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>