
<!-- Eventos Principais -->
  <!-- texto -->
  <div class="row">
    <div class="col-12 p-5 text-center text-white animated  bounceInLeft delay-1s slow ">
        <h2 class="display-4">Bem Vindo</h2>
        <p class="lead">Seu site para Eventos de uma maneira simplificada , participe e socialize, seja integrante nos eventos de sua cidade e chame seus amigos ! </p>
    </div>
     <!-- Logo -->
    <div class="col-6 offset-3 col-sm-3 offset-sm-6  col-md-3 offset-md-5 animated zoomIn delay-2s slow ">
        <img src="imgs/logo.png" alt="Logo EcoThink" class="img-fluid d-block logo">
    </div>
</div>
 <!-- buttom -->
<div class="row">
    <div class="col-12 col-sm-12 col-md-6   animated  bounceInRight delay-2s slow ">
        <a class="btn btn-block  text-white mx-auto shadow  arredondar p-3 mt-3 mb-3" href="/login">Logar</a>
    </div>
    <div class="col-12 col-sm-12 col-md-6   animated  bounceInRight delay-2s slow ">
        <a class="btn btn-block bg-white text-success mx-auto shadow  arredondar p-3 mt-3 mb-3" href="/cadastro">Registrar</a>
    </div>
</div>